cycler==0.10.0
functools32==3.2.3.post2
matplotlib==2.0.2
numpy==1.13.1
pylru==1.0.9
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
subprocess32==3.2.7
