/* SCROLLBAR RESET */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}


* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}



/* HEADER */
.inputbox {
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #eee;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  outline: none;
}

.inputbox:focus {
  border: 2px solid #ccc;
}

.header {
  padding: 10px 10%;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255,255,255,.95);
}

body {
  margin: 0px;
  margin-top: 120px;
  margin-bottom: 50px;
}

.container {
  width: 80%;
  padding-top: 120px;
  margin: auto;
}

/* TODO: TABLE CSS NEEDS TO BE SCOPED AND CLEANED UP */
table.flex {
  display: flex;
}
.flex-col {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

th,
td {
  padding: 5px;
  text-align: left;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  font-weight: 400;
}
th {
  font-weight: 500;
}

td {
  cursor: pointer;

}

tr:nth-child(2n) {
  background: #fafafa;
}
tr:nth-child(2n+1) {
  background: #efefef;
}
td.compare {
  background: #DE96BD !important;
}
td.selected {
  background: #98DE96 !important;
}
td span.similarity {
  font-size: .75em;
  font-weight: 200;
  color: rgba(0,0,0,.5);
}

/* VIEW TABS */

.viewtab_box {
  font-size: 20px;
  float: left;
}

.viewtab {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 2px solid white;
}

.viewtab:hover {
  border-bottom: 2px solid lightgray;
}

.viewtab.active {
  border-bottom: 2px solid gray;
}

.breadcrumb {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: lightgray;
}

.breadcrumb:hover {
  background-color: gray;
}

.breadcrumb.active {
  background-color: lightgreen;

}

.breadcrumb, .viewtab {
  width: 80px;
  overflow: hidden;
  text-align: center;
}
